<div class="row">
    <div class="col-xs-12">
        <form  [formGroup]="yemekForm" (ngSubmit)="onSubmit()">
            <div class="row"> 
                <div class="col-xs-12">
                    <button type="submit" [disabled] = "!yemekForm.valid" class="btn btn-success">Kaydet</button>
                    <button type="button" class="btn btn-danger" (click) = "onCancel()">Vazgeç</button>
                </div>
            </div>
            
            <div class="row"> 
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="isim">İsim</label>
                        <input
                            type="text"
                            id="isim"
                            formControlName ="isim"
                            class="form-control">

                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="resimPath">ImageUrl</label>
                        <input
                            type="text"
                            id="resimPath"
                            formControlName ="resimPath"
                            class="form-control"
                            #resimPath>

                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-xs-12">
                    <img [src]="resimPath.value" class="img-responsive">
                </div>
            </div>
            <div class="row"> 
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="aciklama">Açıklama</label>
                        <textarea
                            type="text"
                            id="acıklama"
                            class="form-control"
                            formControlName ="aciklama"
                            rows="6"></textarea>

                    </div>
                </div>
            </div>
             <div class="row"> 
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="fiyat">Fiyat</label>
                        <input
                            type="number"
                            id="fiyat"
                            formControlName ="fiyat"
                            class="form-control">

                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col-xs-12">
                    <div class="form-group">
                    <label for="kategori"
                        >Kategori:
                        <select class ="form-control" formControlName ="kategori" id="kategori" name="kategori" ngModel>
                    
        
                            <option value="">Kategori Seç</option>
                            <option *ngFor="let kategori of kategoriler" [ngValue]="kategori">
                                    {{ kategori.isim }}
                            </option>
                        </select>
                    </label>
                </div>
                </div>
            </div>
           
           
        </form>